
.zoom-image {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoom-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#mainFooter {
  padding: 40px 0 20px 0;
  background: #231b53;
}
.shadow-1 {
    box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.1);
}
.border-round{
    border-radius: 21px 21px 21px 21px;
}
#footerRights{
  background: #000;
  color: #fff;
}

.scrollable{
  height: 200px;
  overflow: auto;
}
.form-control {
    border: 1px solid #acacac;
    background-color: white;
    border-radius: 10px;
    margin-left: -2px;
}

.form-select {
    border: 1px solid #a8a8a8;
    background-color:white;
    border-radius: 21px;
    margin-right: 3px;    
    margin-left: -2px;
}

@media (max-width: 768px){
    .img-heladera{
        display:none;
    }
}
@media (max-width: 768px){
    .btn-perfil{
        width: 100%;
    }
}

.btn-primary {    
    background: #3098b5;
    color: #fff;
    border-color: #d7c6c6 !important;
}

.btn-primary:hover,
.btn-primary:focus{
    background: #007a9b;
}

.btn-primary:active { 
    background: #007a9b;
    color: #fff;
    border-color: #d7c6c6 !important;
}

.mt-7{
  margin-top: 8rem!important;
}

h2{
    font-weight: 350;
    color:#3098b5;
}

body {
    background-color: #e6eaf2;
    font-family: 'Raleway', sans-serif;
}
.hero {
    background-color: #eff5ff;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}
.hero h1 {
    color: #3055b5;
    font-size: 2.5rem;
    font-weight: bold;
}
.hero p {
    font-size: 1.2rem;
    color: #444;
}