<html>
<head>
    <title>Mi perfil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"><!-- Tipografia -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='/static/css.css?1=14' rel='stylesheet'>
</head>
<body style="background-color: #e6eaf2;">

        <div class="container mt-5 mb-2 border border-round shadow-1" style="background-color: #eff5ff;min-height: 600px;">
            <form method='POST' class="row p-4" id="subscriptionForm">
                <div class="row">
                    <h2>Crear HELADERAS</h2>
                    <hr>
                    {{#successMessage}}
                        <div class="alert alert-success my-2" >{{successMessage}}</div>
                    {{/successMessage}}
                    {{#errorMessage}}
                        <div class="alert alert-warning my-2" >{{errorMessage}}</div>
                    {{/errorMessage}}
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="nombre" class="form-label">Nombre*</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="direccion" class="form-label">Dirección*</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="longitud" class="form-label">Longitud*</label>
                        <input type="number" step="0.000001" class="form-control" id="longitud" name="longitud" required>
                    </div>
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="latitud" class="form-label">Latitud*</label>
                        <input type="number" step="0.000001" class="form-control" id="latitud" name="latitud" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="temperaturaMinima" class="form-label">Temperatura Mínima*</label>
                        <input type="number" step="0.1" class="form-control" id="temperaturaMinima" name="temperaturaMinima" required>
                    </div>
                    <div class="mb-3 col-md-6 mx-auto">
                        <label for="temperaturaMaxima" class="form-label">Temperatura Máxima*</label>
                        <input type="number" step="0.1" class="form-control" id="temperaturaMaxima" name="temperaturaMaxima" required>
                    </div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="mx-auto col-md-3">
                        <button style="width: 100%" type="button" id="btn-cerrar-sesion" class="btn btn-warning mt-2 mb-2 col-md-4" value="2">Cerrar sesion</button><br>
                    </div>
                    <div class="mx-auto col-md-3">
                        <button style="width: 100%" type="button" id="btn-login-submit" class="btn btn-success mt-2 mb-2 col-md-4" value="1">Crear</button><br>
                    </div>
                </div>
                <input type="hidden" name="value-submit" id="value-submit">
            </form>
        </div>
    </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    const form = document.getElementById('subscriptionForm');
    const btnSubmit = document.getElementById('btn-login-submit');
    const btnCerrarSesion = document.getElementById('btn-cerrar-sesion');

    // Función para verificar campos
    function checkFields() {
        const isFormValid = form.checkValidity();
        btnSubmit.disabled = !isFormValid; // Habilita o deshabilita el botón
    }

    // Agregar un evento de entrada para verificar los campos
    form.addEventListener('input', checkFields);

    // Evento para el botón de continuar
    btnSubmit.addEventListener('click', function() {
        if (form.checkValidity()) {
            document.getElementById('value-submit').value="1";
            form.submit();
        } else {
            alert('Por favor complete todos los campos obligatorios.'); // Mensaje de advertencia
        }
    });

    btnCerrarSesion.addEventListener('click', function() {
        document.getElementById('value-submit').value="2";
        form.submit();
    });
</script>
</html>
