<html>
    <head>
        <title>Mi perfil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"><!-- Tipografia -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href='/static/css.css?1=14' rel='stylesheet'>
    </head>
    <body style="background-color: #e6eaf2;">
        <nav class="navbar navbar-expand-lg bg-primary" style="background-color: #3055b5!important;" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Heladeras Solidarias</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/colaboracion_{{tipoPersona}}">Colaborar</a></li>
                        <li class="nav-item"><a class="nav-link" href="/personaVulnerable">Registrar Persona Vulnerable</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reportar">Reportar Falla</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reportes">Reportes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/suscripcion">Sucripcion heladeras</a></li>
                        <li class="nav-item"><a class="nav-link" href="/heladeras">Mis heladeras</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ofrecer">Ofrecer productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/prodserv">Productos</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/perfil_{{tipoPersona}}">Mi perfil</a></li>
                    </ul>
                    <form class="d-flex" role="search" style="margin: unset;">
                        <!--<a class="btn btn-primary" href="/entrega/perfil.html">Mi perfil</a>-->
                    </form>
                </div>
            </div>
        </nav>
        <div class="container mt-5 mb-2 border border-round shadow-1" style="background-color: #eff5ff;min-height: 600px;">
            {{#successMessage}}
                <p style="color: green;">{{successMessage}}</p>
            {{/successMessage}}
            <form method='POST' class="row p-4">
                <div class="row">
                    <h2 class="col-md-4">Mi perfil</h2>
                    <div class="col-md-4"></div>
                    <h5 class="col-md-4" id="btn-edit">Editar <i class="bi bi-pencil-fill" onclick="editar()" style="cursor: pointer;"></i></h5>
                    <a href="/perfil_persona_humana" type="submit" class="col-md-4 btn btn-danger btn-sm" id="btn-cancel" style="display: none;width: 120px">Cancelar edicion</a>
                </div>
                <hr>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" class="form-control" id="nombre" value="{{nombre}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" class="form-control" id="apellido"  value="{{apellido}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="direccion">Direccion</label>
                            <input type="text" name="direccion" class="form-control" id="direccion" value="{{direccion}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="fecha-nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fecha-nacimiento" class="form-control" id="fecha-nacimiento" value="{{fechaNacimiento}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="medios-contacto">Medio de contacto</label>
                            <input type="text" name="medios-contacto" class="form-control" id="medios-contacto" value="{{tipo-mdc}} - {{detalle-mdc}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-row my-3">
                        <center><a href="/reportes" id="btn-login-submit" class="btn btn-primary col-md-8">Reportar falla tecnica</a></center>
                    </div>
                    <div class="form-row my-3">
                        <center><a href="/suscripcion" id="btn-login-submit" class="btn btn-primary col-md-8">Suscribirme heladera</a></center>
                    </div>
                    <div class="form-row my-3">
                        <center><a href="/heladeras" id="btn-login-submit" class="btn btn-primary col-md-8">Mis heladeras</a></center>
                    </div>
                </div>
                <hr class="my-3">
                <div class="form-row">
                    <button type="submit" id="btn-cerrar-sesion" name="btn-accion" value="logout" class="btn btn-warning col-md-4 mx-auto">Cerrar sesion</button>
                    <button type="submit" id="btn-guardar" name="btn-accion" value="save" class="btn btn-success col-md-4 mx-auto" style="display: none">Guardar datos</button>
                </div>
            </form>
        </div>
   </body>
</html>
<script>
    function editar() {
        document.getElementById("nombre").disabled = false;
        document.getElementById("apellido").disabled = false;
        //document.getElementById("colaborar").disabled = false;
        document.getElementById("direccion").disabled = false;
        document.getElementById("fecha-nacimiento").disabled = false;
        document.getElementById("medios-contacto").disabled = false;
        document.getElementById("btn-guardar").style.display="";
        document.getElementById("btn-edit").style.display="none";
        document.getElementById("btn-cancel").style.display="";
    }
</script>