<html>
    <head>
        <title>Mi perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"><!-- Tipografia -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href='/static/css.css?1=14' rel='stylesheet'>
    </head>
    <body style="background-color: #e6eaf2;">
    <nav class="navbar navbar-expand-lg bg-primary" style="background-color: #3055b5!important;" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Heladeras Solidarias</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Colaboraciones
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/colaboracion_{{tipoPersona}}">Colaborar</a></li>
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/colaboraciones_realizadas">Colaboraciones realizadas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Heladeras
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/suscripcion">Sucripcion heladeras</a></li>
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/heladeras">Mis heladeras</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/ofrecer">Ofrecer productos</a></li>
                            <li><a class="dropdown-item" style="color:#f5f5f5" href="/prodserv">Canjear productos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/personaVulnerable">Registrar Persona Vulnerable</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reportar">Reportar Falla</a></li>
                </ul>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto me-3">
                    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                        <hr class="d-lg-none my-2 text-white-50">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" disabled>
                                Bienvenido</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/perfil_{{tipoPersona}}" >

                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                    </svg> Mi Perfil </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form class="d-flex" method="POST">
                                    <a href="/cerrarSesion" class="dropdown-item" id="cerrar-menu" name="logout">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                                        </svg> Cerrar Sesion
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container mt-5 mb-2 border border-round shadow-1" style="background-color: #eff5ff;min-height: 600px;">
            {{#successMessage}}
                <div class="alert alert-success my-2" >{{successMessage}}</div>
            {{/successMessage}}
            <form method='POST' class="row p-4">
                <div class="row">
                    <h2 class="col-md-4">Mi perfil</h2>
                    <div class="col-md-4"></div>
                    <h5 class="col-md-4" id="btn-edit">Editar <i class="bi bi-pencil-fill" onclick="editar()" style="cursor: pointer;"></i></h5>
                    <a href="/perfil_persona_humana" type="submit" class="col-md-4 btn btn-danger btn-sm" id="btn-cancel" style="display: none;width: 120px">Cancelar edicion</a>
                </div>
                <hr>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" class="form-control" id="nombre" value="{{nombre}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" class="form-control" id="apellido"  value="{{apellido}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="direccion">Direccion</label>
                            <input type="text" name="direccion" class="form-control" id="direccion" value="{{direccion}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="fecha-nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fecha-nacimiento" class="form-control" id="fecha-nacimiento" value="{{fechaNacimiento}}" disabled>
                        </div>
                        <div class="col-md-12">
                            <label for="medios-contacto">Medio de contacto</label>
                            <input type="text" name="medios-contacto" class="form-control" id="medios-contacto" value="{{tipo-mdc}} - {{detalle-mdc}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-row my-3">
                        <center><a href="/reportar" id="btn-login-submit" class="btn btn-primary col-md-8 btn-perfil">Reportar falla tecnica</a></center>
                    </div>
                    <div class="form-row my-3">
                        <center><a href="/suscripcion" id="btn-login-submit" class="btn btn-primary col-md-8 btn-perfil">Suscribirme heladera</a></center>
                    </div>
                    <div class="form-row my-3">
                        <center><a href="/heladeras" id="btn-login-submit" class="btn btn-primary col-md-8 btn-perfil">Mis heladeras</a></center>
                    </div>
                    <div class="form-row my-3">
                        <center><a href="/colaboraciones_realizadas" id="btn-login-submit" class="btn btn-primary col-md-8 btn-perfil">Colaboraciones Realizadas</a></center>
                    </div>
                </div>
                <hr class="my-3">
                <div class="form-row">
                    <button type="submit" id="btn-cerrar-sesion" name="btn-accion" value="logout" class="btn btn-warning col-md-4 mx-auto">Cerrar sesion</button>
                    <button type="submit" id="btn-guardar" name="btn-accion" value="save" class="btn btn-success col-md-4 mx-auto" style="display: none">Guardar datos</button>
                </div>
            </form>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
<script>
    function editar() {
        document.getElementById("nombre").disabled = false;
        document.getElementById("apellido").disabled = false;
        //document.getElementById("colaborar").disabled = false;
        document.getElementById("direccion").disabled = false;
        document.getElementById("fecha-nacimiento").disabled = false;
        document.getElementById("medios-contacto").disabled = false;
        document.getElementById("btn-guardar").style.display="";
        document.getElementById("btn-edit").style.display="none";
        document.getElementById("btn-cancel").style.display="";
    }
</script>