<html>
<head>
    <title>Suscripción heladeras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"><!-- Tipografia -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='/static/css.css?1=14' rel='stylesheet'>
</head>
<body style="background-color: #e6eaf2;">


<nav class="navbar navbar-expand-lg bg-primary" style="background-color: #3055b5!important;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/front_page">Heladeras Solidarias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Colaboraciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/colaboracion_{{tipoPersona}}" style="color:#f5f5f5">Colaborar</a></li>
                        <li><a class="dropdown-item" href="/colaboraciones_realizadas" style="color:#f5f5f5">Colaboraciones realizadas</a></li><li><a class="dropdown-item" href="/upload_csv" style="color:#f5f5f5">Carga masiva colaboraciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Heladeras
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/suscripcion" style="color:#f5f5f5">Suscribirme a heladeras</a></li>
                        <li><a class="dropdown-item" href="/heladeras" style="color:#f5f5f5">Mis heladeras</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ofrecer" style="color:#f5f5f5">Ofrecer productos</a></li>
                        <li><a class="dropdown-item" href="/prodserv" style="color:#f5f5f5">Canjear productos</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/personaVulnerable">Registrar Persona Vulnerable</a></li>
                <li class="nav-item"><a class="nav-link" href="/reportar">Reportar Falla</a></li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto me-3">
                <li class="nav-item"><a class="nav-link" href="/notificaciones">
                    {{{notificacionActiva}}}
                </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-tools" style="font-size: 1.5rem;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" disabled>Bienvenido</a></li>
                        <li><a class="dropdown-item" href="/perfil_{{tipoPersona}}">
                            <i class="bi bi-person-fill"></i> Mi Perfil
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="POST">
                                <a href="/cerrarSesion" class="dropdown-item" id="cerrar-menu" name="logout">
                                    <i class="bi bi-door-open-fill"></i> Cerrar Sesión
                                </a>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5 mb-2 border border-round shadow-1" style="background-color: #eff5ff;min-height: 600px;">
    <form method='POST' class="row p-4" id="subscriptionForm">

        {{#ErrorMotivo}}
            <div class="alert-warning alert my-2">{{ErrorMotivo}}</div>
        {{/ErrorMotivo}}

        {{#successSuscripcion}}
            <div class="alert-success alert my-2">{{successSuscripcion}}</div>
        {{/successSuscripcion}}

        <div class="row">
            <h2>Solicitud de permisos</h2>
            <hr>
            <p>Seleccione una heladera e introduzca el codigo de su tarjeta para obtener permisos de acceso.</p>
            <hr>
            <div class="form-row">
                <div class="col-md-8">
                    <label for="usuario">Heladera</label>
                    <div class="input-group">
                        <select class="form-select" name="heladera" id="heladera" required>
                            <option value="">Seleccione...</option>
                            {{#heladeras}}
                                <option value="{{id}}">{{ubicacion.nombre}} - {{ubicacion.direccion}}</option>
                            {{/heladeras}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-8">
                    <label for="codigo_tarjeta">Codigo de tarjeta</label>
                    <input type="text" name="codigo_tarjeta" id="codigo_tarjeta" class="form-control" placeholder="Ingrese su código de tarjeta" required>
                </div>
                <div class="form-row">
                    <button type="submit" id="btn-login-submit" class="btn btn-primary mt-2 mb-2 col-md-4" disabled>Solicitar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    const form = document.getElementById('subscriptionForm');
    const btnSubmit = document.getElementById('btn-login-submit');

    // Función para verificar campos
    function checkFields() {
        const isFormValid = form.checkValidity();
        btnSubmit.disabled = !isFormValid; // Habilita o deshabilita el botón
    }

    // Agregar un evento de entrada para verificar los campos
    form.addEventListener('input', checkFields);

    // Evento para el botón de continuar
    btnSubmit.addEventListener('click', function() {
        if (form.checkValidity()) {
            // Redirige a /perfil si el formulario es válido
            form.submit();
        } else {
            alert('Por favor complete todos los campos requeridos.'); // Mensaje de advertencia
        }
    });
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
